<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>



<!-- Contact Us Content -->
<div class="container mt-5" th:fragment = "content">
    <h1>Contact Us</h1>
    <p>If you have any questions, feel free to reach out to us via email or phone. We are always here to help and provide support.</p>
    <p>Email: vemulasairam@gmail.com</p>
    <p>Phone: 7093281701</p>
    <p>Address: 1234 Street Ameerpet, hyd, State, ZIP</p>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
